<%- include ('./partials/header') %> 
<div class="container">
    <form id="form" action="/blogs/<%= blog._id %>/comments " method="POST">
        <h1> NEW COMMENT</h1>
        <div class="form-group">
        <label for="exampleFormControlInput1">COMMENT</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name= "comment[text]"placeholder="ENTER COMMENT">
        </div>
        <input class= " btn btn-success btn-lg btn-block"type="submit">
    </form>
    <a class="btn" href="/blogs/<%= blog._id %> "> < BACK TO BLOG</a></BACK>
</div>

<%- include ('./partials/footer') %> 