<%- include ('./partials/header') %> 
<div id="log">
    <form action="/register" method="post">
        <div class="login">
        <h1 id="loginH">Sign-up</h1>
        
        <input type="text" class="username" id="username"name="username" placeholder="Username">
        <label for="username" class="labelUsername">
            <span class="contentUsername">Username</span>
        </label>
    
        
        <input type="password" class="password" id="pass"name="password" placeholder="Password">
        <label for="pass" class="labelPass"><span class="contentPass">Password</span>
        </label>
        <button class="btn" type="submit" value="Login!">Sign-up</button>
        </div>
    </form>
    </div>
<%- include ('./partials/footer') %> 